<ion-view view-title="Config">
    <ion-content ng-class="{expanded:$scope.isExpanded}">
        <!-- Card Head -->
        <div class="hero slide-up" style="background-image: url('img/intro-bg.jpg');" ng-include="'templates/fullsports.head.html'"></div>
        <!-- Card Head Botoes -->
        <div ng-include="'templates/fullsports.head.botoes.html'"></div>
        <!-- Conteudo -->
        <div class="animate-fade-slide-in-right" style="padding:0px;">
            <div class="item">
            	<form class="col s12" ng-submit="validaConfig(config)">
                    <ul class="collapsible" data-collapsible="accordion">
                        <li>
                            <div class="collapsible-header act ive"><i class="icon ion-ios-cog"></i>Configuração</div>
                            <div class="collapsible-body">
                                <span>
                                	<!-- Config -->
                                    <div ng-include="'templates/config.config.html'"></div>
                                </span>
                            </div>
                        </li>
                        <li>
                            <div class="collapsible-header"><i class="icon ion-ios-basketball"></i>Esportes</div>
                            <div class="collapsible-body">
                            	<span>
                                    <!-- Esportes -->
                                    <div ng-include="'templates/config.esportes.html'"></div>
                                </span>
                            </div>
                        </li>
                        <li>
                            <div class="collapsible-header"><i class="icon ion-eye"></i>Privacidade</div>
                            <div class="collapsible-body">
                                <span>
                                    <!-- Privacidade -->
                                    <div ng-include="'templates/config.privacidade.html'"></div>
                                </span>
                            </div>
                        </li>
                        <li>
                            <div class="collapsible-header"><i class="icon ion-key"></i>Senha</div>
                            <div class="collapsible-body">
                                <span>
                                    <!-- Senha -->
                                    <div ng-include="'templates/config.senha.html'"></div>
                                </span>
                            </div>
                        </li>
                    </ul>
                </form>
            </div>
        </div>
    	<!-- Conteudo -->
    </ion-content>
</ion-view>
<script>
	$(document).ready(function(){
    	$('.collapsible').collapsible();
	});
      
</script>
