<div class="row" style="margin:0px;">
    <div class="input-field col s12">
        <input type="checkbox" id="notificacoes" ng-model="config.notificacoes" />
        <label for="notificacoes">N&atilde;o receber notifica&ccedil;&otilde;es</label>
    </div>
</div>
<div class="row" style="margin-bottom:30px;">
    <div class="input-field col s12">
        <input type="checkbox" id="localizacao" ng-model="config.localizacao" />
        <label for="localizacao">N&atilde;o mostrar a minha localiza&ccedil;&atilde;o</label>
    </div>
</div>
<div class="row">
    <button type="submit" class="btn btn-large btn-block waves-effect waves-light">Atualizar cadastro</button>
</div>