<div class="row" style="margin:0px;">
    <div class="input-field col s12">
        <input type="password" name="senhaatual" id="senhaatual" ng-model="senha.senhaAtual">
        <label for='senhaatual'>Senha Atual:</label>
    </div>
</div>
<div class="row" style="margin:0px;">
    <div class="input-field col s12">
        <input type="password" name="novasenha" id="novasenha" ng-model="senha.novaSenha">
        <label for='senhaatual'>Nova Senha:</label>
    </div>
</div>
<div class="row" style="margin:0px;">
    <div class="input-field col s12">
        <input type="password" name="novasenharepetir" id="novasenharepetir" ng-model="senha.novaSenhaRepetir">
        <label for='novasenharepetir'>Nova Senha (repetir):</label>
    </div>
</div>
<div class="row">
    <button type="atualizarSenha(senha)" class="btn btn-large btn-block waves-effect waves-light">Atualizar Senha</button>
</div>