<ion-view view-title="Intro">
    <ion-content ng-class="{expanded:$scope.isExpanded}">
        <div class="hero slide-up" style="background-image: url('img/intro-bg.jpg');">
            <div class="content">
                <div class="avatar" style="background-image: url('img/letters/a.jpg');"></div>
                <h3><a class="light">{{apelido}}</a></h3>
                <h4>{{nome}}</h4>
            </div>
        </div>
        <div class="tabs tabs-dark tabs-icon-top static">
            <a ui-sref="app.salas" class="tab-item">
                <i class="icon ion-chatboxes"></i> Salas
            </a>
            <a ui-sref="app.esports" class="tab-item">
                <i class="icon ion-ios-tennisball"></i> Em Jogo
            </a>
            <a ui-sref="app.convites" class="tab-item">
                <i class="icon ion-email"></i> Convites
            </a>
        </div>
        <div class="animate-fade-slide-in-right" style="padding:0px;">
            <div class="row">
                <div class="col">
                    <a ui-sref="app.fundos" class="item introPanel-item">
						<div class="introPanel introPanel-fundos">
                        	<div class="title">
                        	<div class="texto">Gerenciar<br />Fundos</div>
                        	</div>
                    	</div>
                    </a>
                </div>
                <div class="col">
                    <a ui-sref="app.fundos" class="item introPanel-item">
                        <div class="introPanel introPanel-pessoas">
                            <div class="title">
                            	<div class="texto">Encontrar<br />Pessoas</div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col">
                 <a ui-sref="app.fundos" class="item introPanel-item">
                        <div class="introPanel introPanel-locais">
                        <div class="title">
                        	<div class="texto">Pesquisar<br />Locais</div>
                        </div>
                    </div>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <a ui-sref="app.fundos" class="item introPanel-item">
						<div class="introPanel introPanel-agenda">
                        	<div class="title">
                        		<div class="texto">Consultar<br />Agenda</div>
                        	</div>
                    	</div>
                    </a>
                </div>
                <div class="col">
                    <a ui-sref="app.fundos" class="item introPanel-item">
                        <div class="introPanel introPanel-evento">
                            <div class="title">
                            	<div class="texto">Divulgue<br />seu evento</div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col">
                 <a ui-sref="app.fundos" class="item introPanel-item">
                        <div class="introPanel introPanel-arbitro">
                        <div class="title">
                        	<div class="texto">Seja um<br />&aacute;rbitro</div>
                        </div>
                    </div>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <a ui-sref="app.fundos" class="item introPanel-item">
						<div class="introPanel introPanel-conta">
                        	<div class="title">
                        		<div class="texto">Configurar<br />conta</div>
                        	</div>
                    	</div>
                    </a>
                </div>
                <div class="col">
                    <a ui-sref="app.fundos" class="item introPanel-item">
                        <div class="introPanel introPanel-carbitro">
                            <div class="title">
                            <div class="texto">Contratar<br />&Aacute;rbitro</div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col">
                 <a ui-sref="app.fundos" class="item introPanel-item">
                        <div class="introPanel introPanel-patrocinador">
                        <div class="title">
                        	<div class="texto">Seja um<br />patrocinador</div>
                        </div>
                    </div>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <a ui-sref="app.shopping" class="item introPanel-item">
						<div class="introPanel introPanel-shopping">
                        	<div class="title">
                        		<div class="texto">Virtual<br />Shopping</div>
                        	</div>
                    	</div>
                    </a>
                </div>
                <div class="col">
                    <a ui-sref="app.fundos" class="item introPanel-item">
                        <div class="introPanel introPanel-campeonato">
                            <div class="title">
                            <div class="texto">Crie<br />Campeonatos</div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col">
                 <a ui-sref="app.fundos" class="item introPanel-item">
                        <div class="introPanel introPanel-excursao">
                        <div class="title">
                        	<div class="texto">Promova<br />Excurs&otilde;es</div>
                        </div>
                    </div>
                    </a>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
