<!-- sala.head -->
<div class="item item-avatar item-icon-right">
    <img src="{{sala.img}}">
    <h2>{{sala.nome}}</h2>
    <p>{{sala.esporte}}</p>
    <p>{{sala.periodo}}</p>
    <div class="icon" style="padding:10px;">
        <div style="position:absolute; top:10px;">
        <img src="../img/icons/sexo-{{sala.sexo}}.png" width="25" />
        </div>
        <div style="position:absolute; top:40px;">
        <img src="../img/icons/acessibilidade-{{sala.acessibilidade}}.png" width="25" />
        </div>
    </div>
</div>
<!-- sala.head -->
