<ion-view view-title="Minhas Salas">
    <ion-content ng-class="{expanded:$scope.isExpanded}">
    	<!-- Card Head -->
        <div class="hero slide-up" style="background-image: url('img/intro-bg.jpg');" ng-include="'templates/fullsports.head.html'"></div>
        <!-- Card Head Botoes -->
        <div ng-include="'templates/fullsports.head.botoes.html'"></div>
        <!-- Conteudo -->
        <div class="content has-header">
        	<div class="list animate-fade-slide-in-right" ng-repeat="sala in salas">
                <a ui-sref="app.sala({id:sala.id})" class="item item-avatar item-icon-right list-border">
                    <img src="{{sala.img}}">
                    <h2>{{sala.nome}}</h2>
                    <p>{{sala.esporte}}</p>
                    <p>{{sala.periodo}}</p>
                    <div class="icon" style="padding:10px;">
                    	<div style="position:absolute; top:10px;">
                        <img src="../img/icons/sexo-{{sala.sexo}}.png" width="25" />
                        </div>
                        <div style="position:absolute; top:40px;">
                        <img src="../img/icons/acessibilidade-{{sala.acessibilidade}}.png" width="25" />
                	    </div>
                    </div>
                </a>
        	</div>
        </div>
        <!-- /Conteudo -->
    </ion-content>
</ion-view>