<ion-view view-title="Login" align-title="left">
    <ion-content style="background: url(img/senha-bg.jpg) center; background-size: cover;">
        <div class="hero no-header flat">
            <div class="content">
                <div class="app-icon"></div>
                <h1>{{FullSports}}</h1>
            </div>
        </div>
        <div class="padding" style="padding:0px; margin:0px;">
            <div>
            	<h4 style="color:#FFF;">Esqueceu a senha?</h4>
            	<hr />
            	<p style="color:#CCC; padding-bottom:0px;">Informe seu email ou login e enviaremos instruções para você criar sua senha.</p>
            </div>
        </div>
        <div class="list">
            <ion-md-input  style=" padding-top:0px; border:0px solid #CCC;" placeholder="Email/Login" highlight-color="balanced" type="text"></ion-md-input>
        </div>
        <div class="padding">
            <button ui-sref="app.login" class="button button-full button-energized-900 ink">Enviar</button>
        </div>
        <div class="button-bar social-login">
            <button class="button button-small button-border icon-left ion-social-google button-assertive-900">Google+</button>
            <button class="button button-small button-border icon-left ion-social-twitter button-calm-900">Twitter</button>
            <button class="button button-small button-border icon-left ion-social-facebook button-positive-900">Facebook</button>
        </div>
    </ion-content>
</ion-view>
