.introPanel{
	position:relative;
	width:100%;
	height:110px;
	border:0px solid #F00;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);

}
.introPanel .title{
	height:50px;
	border:0px solid #C00;
	text-align:center;
	background: url(../img/background/opacity60.png) repeat ;
	position:absolute;
	bottom:0;
	width:100%;
	padding-top:5px;
	color:#FFF;
	border-bottom:3px solid #F60;
}
.introPanel .title .texto{
	text-align:center;
	letter-spacing:0.03rem; 
	word-break:break-all;
	word-wrap:break-word !important;
}

.introPanel-item{
	width:100%;
	padding:0px;
}
/*Image Icons*/
.introPanel-fundos{
	background:url(../img/background/GerenciarFundos.png) top center no-repeat;
	background-size:cover;
}
.introPanel-pessoas{
	background:url(../img/background/EncontrarPessoas.png) top center no-repeat;
	background-size:cover;
}
.introPanel-locais{
	background:url(../img/background/PesquisarLocais.png) top center no-repeat;
	background-size:cover;
}
.introPanel-agenda{
	background:url(../img/background/ConsultarAgenda.png) top center no-repeat;
	background-size:cover;
}
.introPanel-evento{
	background:url(../img/background/DivulgueEvento.png) top center no-repeat;
	background-size:cover;
}
.introPanel-arbitro{
	background:url(../img/background/SejaArbitro.png) top center no-repeat;
	background-size:cover;
}
.introPanel-conta{
	background:url(../img/background/ConfiguaraConta.png) top center no-repeat;
	background-size:cover;
}
.introPanel-carbitro{
	background:url(../img/background/ContratarArbitro.png) top center no-repeat;
	background-size:cover;
}
.introPanel-patrocinador{
	background:url(../img/background/SejaPatrocinador.png) top center no-repeat;
	background-size:cover;
}