/* General */
h1 {
    color: #fff;
    text-shadow: 0 1px 0px #000;
    font-size: 42px;
}
p {
    color: #555;
    margin: 0 0 25px 0;
}
table tr td{
	border: 0px solid #AAA; 
	padding:0px;
	margin:0px;
	vertical-align:top;
}

/* Utilities */
.title-bordered {
    border-top: solid 2px #bbb;
    padding-top: 30px;
}


.scroll {
    height: 100%;
}


/* Menu */
.menu .bar.bar-header.expanded {
    transition: all .5s ease-in-out;
}

.menu-open .bar.bar-header.expanded {
	text-align:center;
}
.menu-head{
	position:relative;
	border-bottom:2px solid #900;
	width:100% !important;
	background-color: #B71C1C;
}
.menu-head .avatar{
	position: absolute;
	top: 0; 
	bottom: 0;
	left: 0; 
	right: 0;
	margin: auto;
}

.menu-head h2{
	position: absolute;
	top: 125px; 
	bottom: 0;
	left: 0; 
	right: 0;
	margin: auto;
    font-size: 18px;
}

.menu .avatar {
    height: 88px;
    width: 88px;
}

.menu.menu-left * {
    font-weight: bold;
}

.menu-open .ion-navicon {
    transform: rotate(-360deg);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.menu-open .ion-navicon:before {
    content: "\f2ca";
}
.menu-content{
	background-color:#FFF;
}

.menu-content-item{
	border-bottom: 1px solid #CCC;
	margin:0px;
	margin-left:30px;
	height:45px;
	padding:10px;
	font-size:18px;
	color:#555;
}
.menu-content-item i{
	font-size:28px;
	position:relative;
	top:4px;
	margin-right:10px;
}
/* Login */
.app-icon {
    background-color: #fff;
    background: url('../img/crown.jpg') center;
    background-size: cover;
    border-radius: 50%;
    height: 125px;
    margin: 0 auto;
    width: 125px;
}

.social-login {
    position: fixed;
    bottom: 0;
}
.list{
	margin-right:25px;
}
.msgError{
	color:#FFF; 
	padding-top:15px; 
	height:14px; 
	font-size:18px; 
	letter-spacing:0.25rem; 
	font-weight:100; 
	text-align:center;
	text-shadow: 2px 2px #000000;
}