/**/
.sala-head{
	margin:0px;
	padding:0px;
	border-bottom:1px solid #CCC;
	background-color:#FFF;
	position:relative;
	top:0px;
}
.sala-saldo{
	border:0px solid #AAA;
	height:8px;
	float:left;
}
.sala-saldo-positivo{
	width:0%;
	background-color:#1976d2;
}
.sala-saldo-negativo{
	width:0%;
	background-color:#ff8a80;
}
/**/